
#advanced_mailer_test_send {
	padding: 3px 10px;
}

#advanced_mailer_test_result {
	font-family: Consolas, monospace;
	padding: 5px 0;
}

#spf_dkim_setting div.not_applicable {
	padding: 5px 0;
}
#spf_dkim_setting div.config_description, #spf_dkim_setting div.config_value, #spf_dkim_setting div.config_other {
	padding: 5px 0;
	display: none;
}
#spf_dkim_setting span.hostname, #spf_dkim_setting span.value {
	color: #666;
	font-family: Consolas, monospace;
	margin-left: 8px;
	display: inline-block;
}

section {
	margin-bottom: 10px !important;
}

input[type=password] {
	font-family: "Segoe UI", Arial, sans-serif !important;
}

div.advanced_mailer_description {
	margin-bottom: 10px;
	margin-left: 10px;
}

div.hidden-by-default {
	display: none;
}

div.full-width input {
	width: 90%;
}

div.x_modal-body .monospace {
	font-family: Consolas, monospace;
}

span.sender_info {
	display: inline-block;
	margin-top: 12px;
	margin-left: 24px;
	font-family: Consolas, monospace;
}
